BasedOnStyle: Google
IndentWidth: 4
SpacesBeforeTrailingComments: 1
SpaceAfterControlStatementKeyword: false
AccessModifierOffset: -4
BreakConstructorInitializersBeforeComma: true
PointerBindsToType: false
Standard: Cpp11
ColumnLimit: 160
AlwaysBreakTemplateDeclarations: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: false
MaxEmptyLinesToKeep: 1
PointerBindsToType: false
NamespaceIndentation: Inner
